In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("adult.data.csv")

In [123]:
df.head(1)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K

In [46]:
df.salary.value_counts()

<=50K    24720
>50K      7841
Name: salary, dtype: int64

In [5]:
#How many people of each race are represented in this dataset? 
df["race"].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [7]:
#What is the average age of men?
df[df["sex"]=='Male']["age"].mean().round(1)

39.4

In [33]:
#What is the percentage of people who have a Bachelor's degree?
df["education"].value_counts(normalize=True).mul(100).round(1)[2]

16.4

In [24]:
edu_percentages = df["education"].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
edu_percentages[2]

'16.4%'

In [78]:
#What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
higher_edu = ["Bachelors","Masters","Doctorate"]
round(len(df[ (df["education"].isin(higher_edu)) & (df["salary"] ==">50K") ]) / len(df[df["education"].isin(higher_edu)]) * 100, 1)

46.5

In [80]:
#What percentage of people without advanced education make more than 50K?
round(len(df[ (~df["education"].isin(higher_edu)) & (df["salary"] ==">50K") ]) / len(df[~df["education"].isin(higher_edu)]) * 100, 1)

17.4

In [61]:
#What is the minimum number of hours a person works per week?
df["hours-per-week"].min()

1

In [74]:
#What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
len(df["hours-per-week"]==df["hours-per-week"].min())

32561

In [73]:
round(len(df[(df["hours-per-week"]==df["hours-per-week"].min()) & (df["salary"] ==">50K")])/len(df[df["hours-per-week"]==df["hours-per-week"].min()])
*100,1)

10.0

In [122]:
#What country has the highest percentage of people that earn >50K and what is that percentage?
highest_earning_countries = df[df["salary"]==">50K"]
highest_earning_countries = highest_earning_countries["native-country"].value_counts().sort_index(ascending=True).to_frame()

highest_earning_countries["country-counts"] = df["native-country"].value_counts().sort_index(ascending=True)
highest_earning_countries["percentages"] = round (100 * (highest_earning_countries["native-country"] / highest_earning_countries["country-counts"]), 1)

highest_earning_country = highest_earning_countries["percentages"].idxmax()
highest_earning_country_percentage = highest_earning_countries["percentages"].max()
highest_earning_country

In [104]:
#Identify the most popular occupation for those who earn >50K in India.
df.loc[(df["native-country"]=="India") & (df["salary"] == ">50K"), "occupation"].value_counts().index[0]

'Prof-specialty'