In [67]:
import pandas as pd
import numpy as np
import os
import regex as re

In [68]:
article = [("The Dow-Jones Industrial Average turns 125 by John Steele Gordon On May 26, 1896, "
           "the Wall Street Journal began to publish the world’s first stock market average. It consisted " 
           "of 12 stocks, and Charles Barron added their closing prices up and divided by 12 with paper and " 
           "pencil. That first day, the DJIA closed at 40.94. The country was still coming out of the deep "
           "depression of the mid-1890s, and many on Wall Street feared that William Jennings Bryan might win "
           "the presidency that year and ditch the gold standard. By September, the average was down to 28, "
           "a drop of 31 percent. But as William McKinley’s prospects improved, the average recovered. It "
           "would cross 100 for the first time in 1906. Before the average, people had no easy way to determine "
           "how the market as a whole had acted that day. Wall Streeters were adept at “reading the tape,” "
           "but most people had to rely on what journalists told them. Now, they had an objective standard. "
           "The number of stocks in the average increased to 20 during World War I and then to 30 near the end "
           "of the twenties. And companies were added and dropped as the American economy evolved from an industrial "
           "one to a consumer-driven and then a digital one. But these changes could have strange effects. In 1937, "
           "the Dow dropped IBM and added AT&T. Over the next forty years, before IBM went back into the index in 1977, "
           "AT&T’s stock price increased 300 percent, while IBM went up 22,000 percent. In other words, had they not made "
           "that switch, the Dow-Jones would have recovered its 1929 high and broke through 1,000 many years before it did "
           "The Dow has been the means by which people could measure the five great bull markets we have had since 1896. "
           "(The biggest ran from August 1921 to September 1929, when the average increased 496.5 percent.) And of course, "
           "the not infrequent bear markets. Having hit 381.17 in 1929, the Dow sank to 41.27 in the middle of 1932, barely "
           "above where it had first closed 36 years earlier. But over the long term, the Dow has grown an average of 7.96 "
           "percent per year. Had your great grandfather passively invested $1,000 in the Dow stocks in 1896, the investment "
           "would have doubled, on average, every nine years until it reached $4,104,000 this year. To put that another way, "
           "no one has made money in the long-term betting against the American economy. https://outline.com/kUpdTu " 
           "Commentary Magazine, 2021-05-26"
          )]

In [69]:
df = pd.DataFrame(article) 
df.columns =['Text']
df

                                                Text
0  The Dow-Jones Industrial Average turns 125 by ...

In [70]:
search_term = 'Commentary Magazine'
r = re.compile("\d{4}-\d{2}-\d{2}")

before_keyword, keyword, after_keyword = df.loc[0, "Text"].partition(search_term)
lines = after_keyword
for line in lines.splitlines():
    m = r.search(line)
    if m:
        df.loc[i, "Date"] = m.group()
        df.loc[i, "Year"] = m.group()[0:4]
        df.loc[i, "Month"] = m.group()[5:7]
        df.loc[i, "Day"] = m.group()[8:10]
df

,Text,Date,Year,Month,Day
0,The Dow-Jones Industrial Average turns 125 by ...,2021-05-26,2021,05,26

In [71]:
start_term = 'by '
end_term = ' On'
before_keyword, keyword, after_keyword = df.loc[0, "Text"].partition(start_term) 
before_keyword, keyword, after_keyword = after_keyword.partition(end_term)
if len(before_keyword.strip()) <= 40:
    df.loc[0, "Author"] = before_keyword.strip()
df

,Text,Date,Year,Month,Day,Author
0,The Dow-Jones Industrial Average turns 125 by ...,2021-05-26,2021,05,26,John Steele Gordon

In [72]:
end_term = ' by '
before_keyword, keyword, after_keyword = df.loc[0, "Text"][:100].partition(end_term) 
if len(before_keyword.strip()) <= 100:
    df.loc[0, "Title"] = before_keyword.strip()
df

,Text,Date,Year,Month,Day,Author,Title
0,The Dow-Jones Industrial Average turns 125 by ...,2021-05-26,2021,05,26,John Steele Gordon,The Dow-Jones Industrial Average turns 125