In [21]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(1, 1000, size=(6, 9)), 
                  columns=['col1', 'col2', 'col3', 'col4', 'col5', 
                           'col6', 'col7', 'col8', 'col9']) 

df

   col1  col2  col3  col4  col5  col6  col7  col8  col9
0   552   484   467    91   338   579   747   495   655
1   549   757   408   875   184   601   420   345   306
2   811   804   287   584   260   106   749   109   481
3   768   246   624   345   790   271   638   760   914
4   792   929   255   339   335   252   263   196   322
5   729   808   672   685   205   511    87   941   138

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    6 non-null      int32
 1   col2    6 non-null      int32
 2   col3    6 non-null      int32
 3   col4    6 non-null      int32
 4   col5    6 non-null      int32
 5   col6    6 non-null      int32
 6   col7    6 non-null      int32
 7   col8    6 non-null      int32
 8   col9    6 non-null      int32
dtypes: int32(9)
memory usage: 344.0 bytes

In [24]:
df.col1 = df.col1.astype('string')
df.col2 = df.col2.astype('int64')
df.col3 = df.col3.astype('float64')
df.col4 = df.col4.astype('float32')
df.col5 = df.col5.astype('int64')
df.col6 = df.col6.astype('string')
df.col7 = df.col7.astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    6 non-null      string
 1   col2    6 non-null      int64
 2   col3    6 non-null      float64
 3   col4    6 non-null      float32
 4   col5    6 non-null      int64
 5   col6    6 non-null      string
 6   col7    6 non-null      category
 7   col8    6 non-null      int32
 8   col9    6 non-null      int32
dtypes: category(1), float32(1), float64(1), int32(2), int64(2), string(2)
memory usage: 666.0 bytes

In [30]:
df.iloc[0,0] + df.iloc[0,1]

TypeError: can only concatenate str (not "numpy.int64") to str

In [34]:
df=df.apply(pd.to_numeric)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    6 non-null      int64
 1   col2    6 non-null      int64
 2   col3    6 non-null      float64
 3   col4    6 non-null      float32
 4   col5    6 non-null      int64
 5   col6    6 non-null      int64
 6   col7    6 non-null      int64
 7   col8    6 non-null      int32
 8   col9    6 non-null      int32
dtypes: float32(1), float64(1), int32(2), int64(5)
memory usage: 488.0 bytes

In [35]:
df.iloc[0,0] + df.iloc[0,1]

1036